body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.navbar {
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
}


/* logo */
.logo {  
  height: 70px;
  width: auto;
  object-fit: contain;
}

/* links navbar */
.nav-links {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #1d4ed8;
}

.nav-links a.active {
  border-bottom: 2px solid #1d4ed8;
  color: #153eb5;
}

/* menu hamburguer para mobile */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;        
  gap: 5px;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: black;
  transition: 0.3s ease;
}
  
/* responsividade site */
@media (max-width: 885px) {
.nav-links {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  transform: none;
  display: none;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding: 15px 0;
}

.nav-links.show {
  display: flex;
}
}

@media (max-width: 885px) {
.menu-toggle {
  display: flex;
}
}
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
  padding: 20px;
}

/* Carrossel */
.carousel-box {
  flex: 1 1 60%;
  min-width: 300px;
}

.swiper-slide img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  border-radius: 10px;
}

/* Informações principais */
.main-info {
  flex: 1 1 60%;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.main-info h2 {
  color: #1f1f1f;
  font-size: 28px;
}

.main-info p {
  font-size: 20px;
  margin: 10px 0;
}

.local {
  color: #666;
  font-size: 15px;
}

/* Formulário lateral */
.form-box {
  flex: 1 1 30%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.corretor h4 {
  margin: 0 0 5px;
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea { 
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-size: 14px;
   height: 130px;
}

.whatsapp-button {
  display: block;
  text-align: center;
  background-color: #25d366;
  color: white;
  padding: 12px;
  margin-top: 15px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.3s;
  width: 90%;
}


.whatsapp-button:hover {
  background-color: #1ebe5d;
  text-decoration: none;
}

.titulo-info {
  margin-top: 10%;
}

 


  /* footer pagina*/
    footer {
  background-color: #163D86;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-social p,
.footer-contact p {
  margin: 8px 0;
}

.footer-social .icons img {
  width: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

.footer-contact .icon {
  width: 18px;
  margin-right: 8px;
  vertical-align: middle;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
